body p{
  font-weight: 300;
  font-family: 'Roboto Slab', serif;
}


.app_container{
  background-image: url('https://free4kwallpapers.com/uploads/originals/2015/09/02/blue-minimalistic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
   
}

.content{
  position: relative;
  top: 10vh;
  height: 70vh;  
}

.img_person{
  width: 120px;
  height: 120px;
  position: absolute;
  top: 120px;
}

.view_person{
  background-color: white;
  border-radius: 5px;
  height: 70vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.name_desc{
  color: gray;
  font-weight: 100;
}

.view_person_footer{
  width: 100%;
  margin-top: auto;
}

.divider{
  border: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0));
}

.buttons{
  display: flex;
  height: 100%;
  cursor: pointer;
}

.vertical_divider{
  height: 100%;
  width: 1px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20));
}
.vertical_divider2{
  height: 100%;
  width: 1px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0));
}

.but{
  width: 50%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
}

.view_expose{
  background-color: white;
  margin-top: 2.5vh;
  border-radius: 0px 5px 5px 0px;
  height: 65vh;
}

.myNav{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.item{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  margin-top: 2px;
  margin-right: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.item p{
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  padding-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  color: #2881b8;  
  position: absolute;
  left: 20px;
  
  opacity: 0;
}
.item_icon{
  filter: brightness(0);
  margin-left: 12px;
  margin-bottom: 1px;
}
.item:hover .item_icon{
  filter: brightness(1);
}
.item:hover p{
  opacity: 1;
  transition: all 600ms ease;
}
.item:hover{
  width: 100px;
}

.link{
  transition: all 400ms ease;
  filter: brightness(0);
  cursor: pointer;
}
.link:hover{
  filter: brightness(1);
}

.view_exposer{
  transition: all 300ms ease;
  opacity: 1;
  
}
.myScroll{
  height: 100%;
  width: 100%;
  overflow-y: scroll
}
.exposer_hide{
  opacity: 0;
}

.shape{
  width: 100%;
  height: 200px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
  border-radius: 5px;

}

.about_rigth h5{
  font-size: 14px;
  font-weight: 500;
  background-color: #a2d6f7;
  border-radius: 3px;
  width: 80px;
  padding: 2px 10px;
}
.about_rigth p{
  font-size: 14px;
}
.about_left h5:first-child{
  color: #2881b8;
  margin-right: 5px;
}

.section_title{
  color: #2881b8;
}

.experiencia p{
  margin-bottom: 0;
}
.experiencia p:nth-of-type(1){
  font-size: 12px;
}
.experiencia p:nth-of-type(2){
  font-size: 18px;
  font-weight: 500;
}
.experiencia p:nth-of-type(4){
  font-size: 12px;
}
.experiencia p:nth-of-type(5){
  font-size: 15px;
  margin-top: 5px;
}


.myCard img{
  width: 100%;
}
.myCard p{
  margin-bottom: 0;
}
.myCard p:nth-of-type(1){
  font-size: 20px;
  font-weight: 400;
  color: #2881b8;
  padding-top: 10px;
}
.myCard p:nth-of-type(3){
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
}
.tecnologies{
  display: flex;
  align-items: center;
  justify-items: center;
}
.tecnologies h5{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0;
}

.projects_area{
  height: 1100px;
}

.contact_form{
  padding: 30px;
}

.movilshow{
  display: none;
}

@media only screen and (max-width: 1000px) {
  .view_person{
    height: max-content;
    border-radius: 0;
  }
  .view_expose{
    height: max-content;
    margin-top: 0;
    border-radius: 0;
  }
  .movilhidde{
    display: none;
  }
  .myScroll{
    overflow-y: visible;
  }
  .movilshow{
    display: inline-block;
  }
  .projects_area{
    height: max-content;
  }
  .section_title{
    font-size: 30px;
    text-align: center;
  }
}
